
<div class="form-group mt-3 mb-5">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Lưu" class="btn btn-default" />
        @Html.ActionLink("Quay lại danh sách", "Index", new { @class = "btn btn-list" })
    </div>
</div>