@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions mt-3 mb-4">
        <input type="submit" value="Xóa" class="btn btn-default" /> |
        @Html.ActionLink("Quay lại danh sách", "Index", "", new {@class = "btn btn-list"})
    </div>
}