<div class = "head-action">
    
    @Html.ActionLink(
    linkText: "Thêm mới",
    actionName: "Create",
    routeValues: null,
    htmlAttributes: new { @class = "btn btn-default btn-primary" }
)
</div>