@using E_commerce_23TH0024.Models.Ecommerce
@model CustomerType

@{
    ViewBag.Title = "Details";
}

<h4 class="title">Xem Loại khách hàng</h4>

<div>
    <partial name="_ViewFields" />
</div>
@* <p> *@
@*     @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new {@class = "btn btn-edit"}) | *@
@*     @Html.ActionLink("Quay lại danh sách", "Index", "", new {@class = "btn btn-list"}) *@
@* </p> *@
