@using E_commerce_23TH0024.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "Trang quản trị";
    var donhangs = ViewBag.DonHang as List<ThongKeDonHang> ?? new List<ThongKeDonHang>();
    var thangs = donhangs.Select(x => "Tháng" + x.Thang).ToList();
    var doanhthus = donhangs.Select(x => x.TongTien).ToList();
}
<style>
    .container-fluid .card-box {
        background: #1c1c1c1a;
        border-radius: 7px;
        padding: 10px;
        margin: 10px 5px;
    }
</style>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Quán lý bán hàng</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Quản lý bán hàng</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-9">
                <div class="card-box" dir="ltr">
                    <h4 class="header-title mb-1">Lịch sử đơn hàng</h4>
                    <div id="rotate-labels-column" class="apex-charts"></div>
                </div> <!-- end card-box-->
            </div> <!-- end col -->

            <div class="col-xl-3">
                <div class="card-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm bg-light rounded">
                                <i class="fe-shopping-cart avatar-title font-22 text-success"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark my-1"><span data-plugin="counterup">@ViewBag.SanPham</span></h3>
                                <p class="text-muted mb-1 text-truncate">Sản phẩm</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">Target <span class="float-right">100%</span></h6>
                        <div class="progress progress-sm m-0">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-box-->

                <div class="card-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-sm bg-light rounded">
                                <i class="fe-aperture avatar-title font-22 text-purple"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark my-1"><span data-plugin="counterup">@ViewBag.KhachHang</span></h3>
                                <p class="text-muted mb-1 text-truncate">Khách hàng</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6 class="text-uppercase">Target <span class="float-right">100%</span></h6>
                        <div class="progress progress-sm m-0">
                            <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-box-->
            </div>
        </div>
        <!-- end row -->
    </div>
</div>

<div class="container">
    <div class="card-box">
        <h4 class="title">Danh sách người dùng online</h4>
        <div class="mb-3">
            <a onclick="RemoveAllUser()" class="btn btn-delete">Xóa tất cả</a>
        </div>
        <div id="gridContent">
            <table id="userPages" class="table table-borderd table-hover">
                <thead>
                    <tr class="grid-header">
                        <th>STT</th>
                        <th>Người dùng</th>
                        <th>Đang mở</th>
                    </tr>
                </thead>
                <tr></tr>
            </table>
        </div>
    </div>
</div>


    @section Scripts {

        <script type="text/javascript">
            $(function () {
                var hubConnection = $.hubConnection();
                var userHub = hubConnection.createHubProxy('userHub');

                window.RemoveAllUser = function () {
                    userHub.invoke('RemoveAllUsers').catch(function (err) {
                        console.error("Lỗi khi xóa tất cả người dùng: ", err);
                    });
                };
                userHub.on('updateUserPages', function (userPages) {
                    console.log(userPages);
                    $('#userPages').empty();
                    $('#userPages').append('<thead><tr class="grid-header"><th>STT</th><th>Người dùng</th><th>Tên</th><th>Đang mở</th><th>Ngày</th><th>Giờ</th></tr></thead>')

                    var sortedUserPages = Object.entries(userPages).sort(function (a, b) {
                        var startTimeA = new Date(a[1].StartTime);
                        var startTimeB = new Date(b[1].StartTime);
                        return startTimeB - startTimeA;
                    });

                    $.each(sortedUserPages, function (index, entry) {
                        var connectionId = entry[0];
                        var userPageInfo = entry[1];
                        var content = $('<tr></tr>');
                        var STT = (index + 1);
                        var startTime = new Date(userPageInfo.StartTime);
                        var datePart = startTime.toLocaleDateString();
                        var timePart = startTime.toLocaleTimeString();

                        content.append('<td>' + STT + '</td>')
                        content.append('<td>' + userPageInfo.Id + '</td>')
                        content.append('<td>' + userPageInfo.Name + '</td>')
                        content.append('<td>' + userPageInfo.Url + '</td>')
                        content.append('<td>' + datePart + '</td>')
                        content.append('<td>' + timePart + '</td>')
                        $('#userPages').append(content);
                    });
                });
                hubConnection.start({ transport: ['longPolling'] }).done(function () {
                    console.log('Connected to SignalR Hub');
                });

            });
            var thangs = @Html.Raw(JsonConvert.SerializeObject(thangs));
            var doanhthus = @Html.Raw(JsonConvert.SerializeObject(doanhthus));
            console.log(thangs); 
            console.log(doanhthus);
            var options = {
                chart: {
                    type: 'bar',  // Chọn loại biểu đồ (line, bar, pie, ...)
                    height: 350
                },
                series: [{
                    name: 'Doanh thu',
                    data: doanhthus
                }],
                xaxis: {
                    categories: thangs,
                    title: {
                        text: 'Tháng'  
                    }
                },
                yaxis: {
                    title: {
                        text: 'Doanh thu'  
                    }
                },
                colors: ['#FF5733'],
            };
            var chart = new ApexCharts(document.querySelector("#rotate-labels-column"), options);
            chart.render();
        </script>
    }
