@using E_commerce_23TH0024.Models.Ecommerce
@model KhachHang

@{
    ViewBag.Title = "Thông tin khách hàng";
}

<div>
    <h4 class="title">Thông tin khách hàng</h4>
    
    <partial name="_ViewFields" />
</div>
@* <p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new {@class ="btn btn-edit"}) |
    @Html.ActionLink("Quay lại danh sách", "Index", "", new {@class ="btn btn-list"})
</p>
 *@