@model E_commerce_23TH0024.Models.LoaiSanPham

@{
    ViewBag.Title = "Thêm mới loại sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 class="title">Thêm Loại Sản phẩm</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    @Html.Partial("_Fields", Model)
    @Html.Partial("_FormActions")
</div>
}

