@using E_commerce_23TH0024.Models.Ecommerce
@model DeliveryMethod

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="title">Xóa @Model.MethodName</h4>

<h6 class="alert alert-warning">Bạn có chắc chắn muốn xóa phương thức này?</h6>
<div>
    @Html.Partial("_ViewFields")

    @Html.Partial("_FormDelete")
</div>
