@using E_commerce_23TH0024.Models.Ecommerce
@model DeliveryMethod

@{
    ViewBag.Title = Model.MethodName;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h4 class="title">@Model.MethodName</h4>
    @Html.Partial("_ViewFields")
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new {@class="btn btn-save"}) |
    @Html.ActionLink("Quay lại danh sách", "Index", "", new {@class = "btn btn-list"})
</p>
