@model E_commerce_23TH0024.Models.Menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 class="title">Xóa menu</h4>

<h6 class="alert alert-warning">Bạn có chắc chắn muốn xóa menu này?</h6>
<div>
    
    @Html.Partial("_ViewFields")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index", "", new {@class = "btn btn-list"})
        </div>
    }
</div>
