@model NhatKy
@{
    ViewData["Title"] = "Tạo Nhật ký mới mới";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Tạo Nhật ký mới</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <!-- Nút hành động -->
                <div class="d-flex justify-content-between mb-4">
                    <a asp-action="Index" class="btn btn-outline-secondary btn-sm">
                        <i class="bi bi-arrow-left"></i> Quay lại
                    </a>
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="bi bi-check-circle"></i> Tạo mới
                    </button>
                </div>
                @* @Html.Partial("_AlertMessages") *@

                @Html.Partial("_Fields", Model)
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
