@using E_commerce_23TH0024.Models.Ecommerce
@model LoaiSanPham

@{
    ViewBag.Title = "Xóa loại sản phẩm";
}

<h4 class="title">Xóa loại sản phẩm</h4>

<h6 class="alert alert-warning">Bạn có chắc chắn muốn xóa loại sản phẩm này không ?</h6>
<div>
    @Html.Partial("_ViewFields")

    @Html.Partial("_FormDelete")
</div>
