@using E_commerce_23TH0024.Models.Ecommerce
@model LoaiSanPham

@{
    ViewBag.Title = "Thông tin loại sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div>
    <h4 class="title">Thông tin loại sản phẩm</h4>
    <partial name="_ViewFields" />
</div>
<p>
    @Html.ActionLink("Lưu", "Edit", new { id = Model.Id }, new {@class = "btn btn-default"}) |
    @Html.ActionLink("Quay lại danh sách", "Index", "", new { @class = "btn btn-default" })
</p>
