@using E_commerce_23TH0024.Models.Ecommerce
@model ShippingRate

@{
    ViewBag.Title = "Delete";
}

<h4 class="title">Xóa bảng giá</h4>

<h6 class="alert alert-warning">Bạn có chắc chắn muốn xóa bảng giá này?</h6>
<div>
    @Html.Partial("_ViewFields")

    @Html.Partial("_FormDelete")
</div>
