@using E_commerce_23TH0024.Models.Ecommerce
@using E_commerce_23TH0024.Models.Order
@model ShippingRate

@{
    ViewBag.Title = "Giá vận chuyển";
}

<h4 class="title">Chi tiết giá vận chuyển</h4>

<partial name="_ViewFields" />
@* <p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-edit" }) |
    @Html.ActionLink("Quay lại danh sách", "Index", "", new { @class = "btn btn-list" })
</p> *@
