@using Microsoft.AspNetCore.Mvc
@{
    ViewData["Title"] = "Home Page";
}
<div class="home banner">
    <div class="banner-overlay"></div>
    <div class="banner-content">
        <div class="container">
            <h1>In Ấn trên mọi chất liệu</h1>
            <p>Tư vấn: 090.484.4382</p>
        </div>

    </div>
</div>
<div class="container pt-5 pb-5">
    @await Component.InvokeAsync("ProductList", new { viewname = "ProductList" })
</div>

