@model E_commerce_23TH0024.Models.CreatePassword

@{
    ViewBag.Title = "CreatePassWord";
}

<h4 class="title">Tạo mật khẩu</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(x => x.UserId)
            <label>Mật khẩu mới</label>
            @Html.PasswordFor(model => model.Password, new {@class = "form-control mt-2"})
        </div>
        <input type="submit" value="Lưu" class="btn btn-default btn-save mt-3" />
    </div>

}
