@model IEnumerable<E_commerce_23TH0024.Models.UserRolesViewModel>

@{
    ViewBag.Title = "Quản lý người dùng";
}

<h4 class="title">Quản lý người dùng</h4>

<partial name="_HeadActions" />
<partial name="_AlertMessages" />

    <table id="grid">
        <thead>
            <tr>
                <th>STT</th>
                <th>UserName</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Vai tro</th>
                <th>Chuc nang</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Count() > 0){
                foreach (var item in Model)
                {
                    <tr>
                        <td></td>
                        <td>@item.UserName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                        <td>@string.Join(", ", item.Roles)</td>
                        <td>
                            <partial name="_TableActions" model=item.UserId />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


