@using E_commerce_23TH0024.Models.Ecommerce
@model ProductAttribute

@{
    ViewBag.Title = "Xóa thuộc tính";
}

<h4 class="title">@ViewBag.Title</h4>

<h6 class="alert alert-warning">Bạn có chắc chắn muốn xóa thuộc tính này?</h6>
<div>
    <dl class="dl-horizontal">
        <dt>
            Tên thuộc tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeName)
        </dd>

    </dl>

    <partial name="_FormDelete" />
</div>
