@using E_commerce_23TH0024.Models.Ecommerce
@model IEnumerable<ProductAttribute>

@{
    ViewBag.Title = "Danh sách thuộc tính";
}

<h4 class="title">Danh sách thuộc tính</h4>

@{
    await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_HeadActions.cshtml");
}

<partial name="_AlertMessages" />
<table id="grid">
    <thead>
        <tr>
            <th>@Html.DisplayName("Mã thuộc tính")</th>
            <th>@Html.DisplayName("Tên thuộc tính")</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.AttributeName)</td>
                <td>
                    <partial name="_TableActions" model=item.Id />
                </td>
            </tr>
        }
    </tbody>
</table>

