@using E_commerce_23TH0024.Models.Ecommerce
@model DiscountRule

@{
    ViewBag.Title = "Thêm chương trình";
}

<h4 class="title">Thêm chương trình</h4>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.Partial("_Fields")
        
        @Html.Partial("_FormActions")
    </div>
}
<script>
$(document).ready(function() {
        $('#IdLoaiSanPham').select2();
        $('#IdCustomerType').select2();
});
</script>

