@using E_commerce_23TH0024.Models.Ecommerce
@using E_commerce_23TH0024.Models.Order
@model DiscountRule

@{
    ViewBag.Title = "Cập nhật chương trình giảm giá";
}

<h4 class="title">@ViewBag.Title</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <partial name="_Fields" model=Model />

        <partial name="_FormActions" />
</div>
}
<script>
    $(document).ready(function () {
         $('#IdLoaiSanPham').select2();
        $('#IdCustomerType').select2();
    });
</script>