<div id="sidebar-menu">
    <ul class="metismenu" id="side-menu">
        <li class="menu-title">Navigation</li>

        <li class="active">
            <a href="/Admin">
                <i class="bi bi-speedometer2 me-2"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Công trình -->
        <li class="nav-item">
            <a class="nav-link" href="/CongTrinh">
                <i class="bi bi-building me-2"></i>
                <span>Công trình</span>
            </a>
        </li>

        <!-- Nhật ký -->
        <li class="nav-item">
            <a class="nav-link" href="/NhatKy">
                <i class="bi bi-journal-text me-2"></i>
                <span>Nhật ký</span>
            </a>
        </li>

        <!-- Nhân viên -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Employee">
                <i class="bi bi-people me-2"></i>
                <span>Nhân viên</span>
            </a>
        </li>

        <!-- Cài đặt -->
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Settings">
                <i class="bi bi-gear me-2"></i>
                <span>Cài đặt</span>
            </a>
        </li>
    </ul>
</div>
