@model IEnumerable<E_commerce_23TH0024.Models.LoaiSanPhamViewModels>

@{
    Layout = null;
}

<ul class="navbar-nav flex-grow-1">
    @foreach (var item in Model)
    {
        <li><a href='/@item.Url' class="nav-link">@item.TenLSP</a></li>
    }
</ul>
