@model E_commerce_23TH0024.Models.City

<div class="form-group">
    @Html.LabelFor(model => model.CityName, "Tỉnh/ thành: ", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
    </div>
</div>
