@using E_commerce_23TH0024.Models.Ecommerce
@model IEnumerable<AttributeValue>

@{
    ViewBag.Title = "Giá trị thuộc tính";
}

<h4 class="title">@ViewBag.Title</h4>
<partial name="_HeadActions" />
<partial name="_AlertMessages" />
@* <p>
    @Html.ActionLink("Thêm mới", "Create", "", new {@class = "btn btn-add"})
</p> *@
<table class="table">
    <tr>
        <th>
            Giá trị
        </th>
        <th>
            Thuộc tính
        </th>
        <th></th>
    </tr>
@if(Model != null && Model.Count() > 0){
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @(item.ProductAttribute?.AttributeName ?? "Không xác định")
                </td>
                <td>
                    <partial name="_TableActions" model=item.Id />
                </td>
            </tr>
        }
}

</table>
