@using E_commerce_23TH0024.Models.SystemSetting
@model Menu

@{
    ViewBag.Title = "Sửa Menu";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 class="title">Menu</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <partial name="_Fields" model=Model />

    <partial name="_FormActions" />
</div>
}

